doctype
html
    head
        title List Items
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

        link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(href='/static/css/index.css', rel='stylesheet')
    body
        header
            ul(class='navigation-container')
                li
                    h1 #{message}
                li
                    form(action="/logout" method="get" id="logoutForm")
                        input(type="submit" value="Log Out")
        
        form(action="/item" method="post" id="itemForm")
            ul(class='productList')
                li
                    select(id="selectProducts" name="selectedProduct" size=products.length)
                            each product in products
                                option(value=product.id) #{product.names[0]}
                li(hidden id="unity")
                    select(id="unitySelect" name="unityItem" size=0)
                li(hidden id="quantity")
                    input(type="number" id="quantityInput" name="quantityItem" min=1 max=100 step=1 value=1)
                li(hidden id="submitNewItem")
                    input(type="submit" value="Add new Item" id="addItemButton")
        
        div(id='listItemsHeader')
            div
                h4 Article
            div
                h4 Quantity
            div
                h4 Unity
        each item in listOfItems
            div(id=item.id class="detailsItem")
                div(id="nameDetailItem") #{item.product.names[0]}
                div(id="quantiyDetailItem") #{item.quantity}
                div(id="unityDetailItem") #{item.unity}
                div(id="editDetailsItem")
                    button(id='modifyItemButton') Edit
                    button(type='submit' id='deleteItemButton' value=item.id) Delete
        div(id="dialog-confirm" title="Modify item detail" hidden)
            form(id='modifyForm')
                p(id='modifyItemP') Modify Item
                select(id="itemUnitySelect" name="unityItem" size=0)
                input(type="number" id="itemQuantityInput" min=1 max=100 step=1 value=1)

        script(src='/static/index.js')
