doctype
html
    head
        title List Items
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

        link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(href='/static/css/index.css', rel='stylesheet')
    body
        header
            ul(class='navigation-container')
                li
                    h1 #{message}
                li
                    form(action="/logout" method="get" id="logoutForm")
                        input(type="submit" value="Log Out")
        table(class='productTable')
            tr
                form(action="/item" method="post" id="itemForm")
                    td
                        select(id="selectProducts" name="selectedProduct" size=products.length)
                            each product in products
                                option(value=product) #{product.names[0]}
                    td(hidden id="unity")
                        select(id="unitySelect" name="unityItem" size=0)
                    td(hidden id="quantity")
                        input(type="number" id="quantityInput" name="quantityItem" min=1 max=100 step=1 value=1)
                    td
                        input(type="submit" value="Add new Item" id="addItemButton")
        table(id= 'listItems')
            tr
                td 
                    h4 Article
                td
                    h4 Quantity
                td
                    h4 Unity
            each item in listOfItems
                tr(id=item.id)  
                    td #{item.product.names[0]}
                    td #{item.quantity}
                    td #{item.unity}
                    td
                        button(id='modifyItemButton') Edit
                        button(type='submit' id='deleteItemButton' value=item.id) Delete
        div(id="dialog-confirm" title="Modify item detail" hidden)
                            p Modify Item
                            form
                                input(type="text" id="modifiedNameItem")

        script(src='/static/index.js')
