doctype
html
    head
        title List Items
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

        link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    body
        h1 #{message}
        form(action="/item" method="post" id="itemForm")
            select(name="selectProduct" size=products.length)
                each product in products
                    option(value=product.id) #{product.name}
            input(type="submit" value="Add new Item" id="addItemButton")
        table
            tr
                th Article
        table(id= 'listItems')
            each item in listOfItems
                tr(id=item.id)
                    td
                        button(id='modifyItemButton') Edit
                        div(id="dialog-confirm" title="Modify item detail" hidden)
                            p Modify Item
                            form
                                input(type="text" id="modifiedNameItem")
                    td #{item.name}
                    td 
                        button(type='submit' id='deleteItemButton' value=item.id) Delete
        form(action="/logout" method="get" id="logoutForm")
            input(type="submit" value="Log Out")

        script(src='/static/index.js')
